bin/
obj/
Makefile

# Visual Studio
.vs
*.sln
*.vcxproj
*.filters
*.user

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
cmake_uninstall.cmake

Test/log.txt
Test/imgui.ini

prx_build_tmp/
