
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/parallax/v15/Solution.VC.db-wal
.vs/parallax/v15/Solution.VC.db-shm
.vs/parallax/v15/Solution.VC.db
.vs/parallax/v15/ipch/AutoPCH/fac5e724167173ad/MAIN.ipch
.vs/parallax/v15/ipch/AutoPCH/f730b43a6fee518a/VERTEXARRAY.ipch
.vs/parallax/v15/ipch/AutoPCH/f453447a20163c85/TEXTURELOADER.ipch
.vs/parallax/v15/ipch/AutoPCH/d9c308d0e1e286d/RENDERABLE2D.ipch
.vs/parallax/v15/ipch/AutoPCH/d382611ba349fa13/VEC2.ipch
.vs/parallax/v15/ipch/AutoPCH/cd26c5fc7d670baa/SIMPLERENDERER2D.ipch
.vs/parallax/v15/ipch/AutoPCH/c74af77f34e28f15/SHADER.ipch
.vs/parallax/v15/ipch/AutoPCH/c136eed3d010324/DELETE_ARRAY.ipch
.vs/parallax/v15/ipch/AutoPCH/be7fadc802b7bbc4/GROUP.ipch
.vs/parallax/v15/ipch/AutoPCH/bc80287298a06248/FILEREADER.ipch
.vs/parallax/v15/ipch/AutoPCH/b9e98c31e3e1e06f/VEC2.ipch
.vs/parallax/v15/ipch/AutoPCH/b881d3fab91f4bb2/WINDOW.ipch
.vs/parallax/v15/ipch/AutoPCH/b3cd240074d9f782/WINDOW.ipch
.vs/parallax/v15/ipch/AutoPCH/afcb82ccec753621/RENDERABLE2D.ipch
.vs/parallax/v15/ipch/AutoPCH/ad4ce463431079c8/LAYER.ipch
.vs/parallax/v15/ipch/AutoPCH/a7f184ac28eec16/IMAGELOADER.ipch
.vs/parallax/v15/ipch/AutoPCH/9c322d49e7d94a30/COLOR.ipch
.vs/parallax/v15/ipch/AutoPCH/91c6689173a0569b/TEXTURE.ipch
.vs/parallax/v15/ipch/AutoPCH/9189631cf8d151de/SCENELAYER.ipch
.vs/parallax/v15/ipch/AutoPCH/8fbdf0aa37ad4cbb/VERTEXBUFFER.ipch
.vs/parallax/v15/ipch/AutoPCH/8b97a361b6afd2a5/SHADER.ipch
.vs/parallax/v15/ipch/AutoPCH/8a324131b79018f4/RENDERER2D.ipch
.vs/parallax/v15/ipch/AutoPCH/89f9dd41e543fd5a/SIMPLERENDERER2D.ipch
.vs/parallax/v15/ipch/AutoPCH/85c5e614de6ab9d8/LAYER.ipch
.vs/parallax/v15/ipch/AutoPCH/85939fbbcb4c5879/LOG.ipch
.vs/parallax/v15/ipch/AutoPCH/811aa2b1dd119cc0/COLOR.ipch
.vs/parallax/v15/ipch/AutoPCH/7d348d3608317654/GROUP.ipch
.vs/parallax/v15/ipch/AutoPCH/7977aae575e0c12a/RESOURCES.ipch
.vs/parallax/v15/ipch/AutoPCH/765624ff6bbe61ae/SCENELAYER.ipch
.vs/parallax/v15/ipch/AutoPCH/7342ce2c159d3ea9/LOG.ipch
.vs/parallax/v15/ipch/AutoPCH/72934a2a0fb97aff/VERTEXBUFFER.ipch
.vs/parallax/v15/ipch/AutoPCH/6dee30ddbb90d18d/INDEXBUFFER.ipch
.vs/parallax/v15/ipch/AutoPCH/685908a6c7564d5a/TIMER.ipch
.vs/parallax/v15/ipch/AutoPCH/656587c6de0253cb/TEXTURE.ipch
.vs/parallax/v15/ipch/AutoPCH/5dd6eaa8d0dd5324/RENDERER2D.ipch
.vs/parallax/v15/ipch/AutoPCH/5ab9e1283948a3fd/INDEXBUFFER.ipch
.vs/parallax/v15/ipch/AutoPCH/5a80bd8d913b07d/RENDERABLE2D.ipch
.vs/parallax/v15/ipch/AutoPCH/54a676a62fab089d/MAIN.ipch
.vs/parallax/v15/ipch/AutoPCH/517b3319f1290d82/SPRITE.ipch
.vs/parallax/v15/ipch/AutoPCH/4eb29cbdd83383fe/VERTEXARRAY.ipch
.vs/parallax/v15/ipch/AutoPCH/4d6fe3d789639b5a/VEC3.ipch
.vs/parallax/v15/ipch/AutoPCH/4a046e9a2830959a/RESOURCES.ipch
.vs/parallax/v15/ipch/AutoPCH/3f0be1c7af004365/VEC4.ipch
.vs/parallax/v15/ipch/AutoPCH/3d8c3d62c6f5fe22/STATICSPRITE.ipch
.vs/parallax/v15/ipch/AutoPCH/3a3779d13cfacb32/STATICSPRITE.ipch
.vs/parallax/v15/ipch/AutoPCH/32dacb82509cd218/BATCHRENDERER2D.ipch
.vs/parallax/v15/ipch/AutoPCH/2f925ccda7b37fb8/FILEREADER.ipch
.vs/parallax/v15/ipch/AutoPCH/2f4398285f29d469/INDEXBUFFER.ipch
.vs/parallax/v15/ipch/AutoPCH/2d836282d46e3c0a/TIMER.ipch
.vs/parallax/v15/ipch/AutoPCH/2c93812a28e5a5da/VERTEXARRAY.ipch
.vs/parallax/v15/ipch/AutoPCH/277660689a8bdd28/BATCHRENDERER2D.ipch
.vs/parallax/v15/ipch/AutoPCH/231a7ce25f9a5d95/MAT4.ipch
.vs/parallax/v15/ipch/AutoPCH/1fda5b4c44e34c8/HYPERMATH.ipch
.vs/parallax/v15/ipch/AutoPCH/14480fbb84b9125f/VECTOR.ipch
.vs/parallax/v15/ipch/AutoPCH/120270066d4fa039/DELETE_SCALAR_SIZE.ipch
.vs/parallax/v15/ipch/AutoPCH/1047ceb4f1a300d2/SPRITE.ipch
.vs/parallax/v15/Browse.VC.opendb
.vs/parallax/v15/Browse.VC.db
.vs/parallax/v15/.suo
x64
intermediates
Debug
.vs

parallax/Lobster.ttf
build
Test/res/textures/5mb.jpg
Test/log.txt
Test/imgui.ini
